<a href="/book/details/@Book?.BookId">
    <article class="bookcard-bookarticle">
        <img class="bookcard-bookimage" src=@Book?.ImageThumbnailUrl>
        <h2 class="bookcard-bookname">@Book?.Name</h2>
        <h2 class="bookcard-bookcategory">@Book?.Category.CategoryName</h2>
        <h2 class="bookcard-bookprice">@Book?.Price.ToString("c")</h2>
    </article>
</a>