@page "/app/search"

<h3>Search Books</h3>

<div>
    <input
        @bind-value="SearchText"
        @bind-value:event="oninput"
        placeholder="Search by book name" @onkeyup="Search" />
</div>

@if (!FilteredBooks.Any())
{
    <p>Nothing to show, sorry.</p>
    @if (SearchText.Length < 3)
    {
        <p>Make sure to enter at least 3 characters to search please.</p>
    }
}
else
{
    <div>
        @foreach (var book in FilteredBooks)
        {
            <BookCard Book=@book></BookCard>
        }
    </div>
}

@code {

}
