@model HomeViewModel

@{
    Layout = "_Layout";
}

<section class="index-booksection">

    @foreach (var book in Model.Books)
    {
        <partial name="_BookCard" model="book" />
    }

</section>