@model BookListViewModel

@{
    Layout = "_Layout";
}

<h1>@Model.CurrentCategory</h1>
@foreach (var book in Model.Books)
{
    <div>
        <h2>@book.Name</h2>
        <h3>@book.Price.ToString("c")</h3>
        <h4>@book.Category.CategoryName</h4>
    </div>
}
