@model BookListViewModel

@{
    Layout = "_Layout";
}

@*<h2>@Model.CurrentCategory</h2>*@

<section class="list-booksection">

    @foreach (var book in Model.Books)
    {
        <article class="list-bookarticle">
            <img class="list-bookimage" src=@book.ImageThumbnailUrl>
            <h2 class="list-bookname">@book.Name</h2>
            <h2 class="list-bookcategory">@book.Category.CategoryName</h2>
            <h2 class="list-bookprice">@book.Price.ToString("c")</h2>
        </article>
    }

</section>