@model IEnumerable<Category>

<li class="layout-categories"><a class="navitem" href="#">Categories</a>
    <ul class="layout-categoriesul">
        @foreach (var category in Model)
        {
            <li class="layout-category navitem">
                <a asp-controller="Book" asp-action="List" asp-route-category="@category.CategoryName">
                    @category.CategoryName
                </a>
            </li>
        }
    </ul>
</li>