/*

    Unless otherwise specified:
    
    Styles organized by Views and only apply within the view. Deviations from this practice will be explicitly noted.

    Selectors typically will follow a view first convention, for example ".layout-[...]" means this belongs to the _Layout view.

    Tip: Ctrl-F to search for view, for example "_Layout".

*/

/*
    Global Styles

    CSS resets, starter font, .sr-only for screen readers

    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

li, ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

:root {
    background-color: #FFDBD4;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/*
    _Layout
*/

.layout-header {
    height: 150px;
    margin-bottom: 25px;
    padding: 25px 0px;
}

.layout-nav {
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "home home title catmenu cart";
    justify-items: center;
    align-items: center;
}

.layout-divmadaysbookshop {
    grid-area: title;
    width: fit-content;
    display: flex;
    padding: 25px;
    background-color: #985273;
    border: 2px solid cornsilk;
    box-shadow: 5px 5px #603449;
}

.layout-madaysbookshop {
    margin: auto;
    font-size: 3rem;
    font-family: 'Comfortaa', cursive;
    color: #FFE9E5;
}

.layout-navhome {
    grid-area: home;
    font-size: 1.25rem;
    font-weight: bold;
}

.layout-categories {
    grid-area: catmenu;
}

.layout-categorieslink {
    font-size: 1.25rem;
    font-weight: bold;
}

.layout-category {
    font-size: 1.25rem;
    font-weight: bold;
    visibility: hidden;
    display: none;
    transition: all 1s ease;
}

.layout-categories:hover .layout-categoriesul {
    position: absolute;
}

.layout-categories:focus-within .layout-categoriesul {
    position: absolute;
}

.layout-categories:hover .layout-category {
    visibility: visible;
    opacity: 1;
    display: block;
    margin: 5px 5px 5px 0px;
}
.layout-categories:focus-within .layout-category {
    visibility: visible;
    opacity: 1;
    display: block;
    margin: 5px 5px 5px 0px;
}

.layout-navcart {
    grid-area: cart;
    font-size: 1.25rem;
    font-weight: bold;
}

.layout-renderbody {
    display: flex;
    justify-content: center;
    align-content: center;
}

/*
    Home, Index
*/

.index-booksection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px 25px;
    padding: 0px 25px 50px 25px;
}

/*
    _BookCard
*/

.bookcard-bookarticle {
    display: grid;
    height: 400px;
    padding: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "thumb thumb"
        "name name"
        "category price";
    justify-items: center;
    background-color: #FFFBED;
    outline: .5px solid black;
}

.bookcard-bookimage {
    height: auto;
    width: 300px;
    grid-area: thumb;
}

.bookcard-bookname {
    max-width: 300px;
    padding: 25px 0px;
    grid-area: name;
}

.bookcard-bookcategory {
    grid-area: category;
    justify-self: left;
}

.bookcard-bookprice {
    grid-area: price;
    justify-self: right;
}

/*
    Details
*/

.details-booksection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}

.details-bookarticle {
    display: grid;
    padding: 50px;
    grid-template-columns: auto auto 200px 200px;
    column-gap: 50px;
    grid-template-rows: auto;
    grid-template-areas:
        "img img name name"
        "img img shortdesc shortdesc"
        "img img longdesc longdesc"
        "img img price addtocart";
    justify-items: center;
    align-items: center;
    background-color: #FFFBED;
    outline: .5px solid black;
}

.details-bookimage {
    height: auto;
    width: 400px;
    grid-area: img;
}

.details-bookname {
    grid-area: name;
}

.details-bookshortdesc {
    grid-area: shortdesc;
}

.details-booklongdesc {
    grid-area: longdesc;
}

.details-bookprice {
    grid-area: price;
    align-self: end;
    padding: 5px;
}

.details-bookaddtocart {
    grid-area: addtocart;
    align-self: end;
    padding: 5px;
    outline: 1px solid black;
}

/*
    Shopping Cart, Index
*/

.shoppingcart-section {
    min-height: 400px;
    padding: 50px;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: start;
    background-color: #FFFBED;
    outline: .5px solid black;
}

.shoppingcart-heading {
    align-self: center;
    font-size: 1.3rem;
    margin-bottom: auto;
    text-decoration: #985273 dotted underline;
}

.shoppingcart-empty {
    font-style: italic;
    align-self: center;
}

.shoppingcart-total {
    align-self: end;
    font-size: 1.3rem;
    margin-top: auto;
    margin-right: 100px;
    text-decoration: #985273 dotted underline;
}

.shoppingcart-bookarticle {
    margin: 25px 0px;
    display: grid;
    grid-template-columns: auto auto 200px 200px;
    column-gap: 50px;
    grid-template-rows: auto;
    grid-template-areas:
        "img img name name"
        "img img amount price";
    justify-items: center;
    align-items: center;
}

.shoppingcart-bookimage {
    height: auto;
    width: 150px;
    grid-area: img;
}

.shoppingcart-bookname {
    grid-area: name;
}

.shoppingcart-bookamount {
    grid-area: amount;
    justify-self: start;
}

.shoppingcart-bookprice {
    grid-area: price;
    justify-self: start;
}